#paletteDiv
{
  border: 5px solid black;
  float: left;
}

#grid
{
  border: 2px solid black;
  border-spacing: 0px;
  margin: auto;
}

h1
{
  text-align: center;
}

table
{
  border: none;
  border-collapse: collapse;
}

#eraser
{
  margin: 2px;
  margin-right: 2px;
  float: left;
  position: relative;
}

#clear
{
  margin: 2px;
  margin-left: 15px;
  margin-right: 2px;
  float: left;
}


