#paletteDiv
{
  border: 5px solid black;
}

#grid
{
  border: 2px solid black;
  border-spacing: 0px;
  margin: auto;
}

table
{
  border: none;
  border-collapse: collapse;
}

#eraser
{
  margin: 2px;
  margin-right: 2px;
}

#clear
{
  margin: 2px;
  margin-left: 35px;
  margin-right: 2px;
}
